<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <div class="container-navbar">
        <div class="logo">
         <a href="#">Wikinimous</a>
        </div>
        <div class="new-article">
          <%= link_to "New Article", articles_new_path %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
